<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!--   
   <add name="ConnectionString" connectionString="Integrated Security=SSPI; Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=BusinessPlus" />
<add name="BusinessPlusConnectionString" connectionString="Integrated Security=SSPI; Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=BusinessPlus" />
    <add name="ConnectionString" connectionString="Server=tcp:takhyon.database.windows.net,1433;Initial Catalog=BusinessPlus;Persist Security Info=False;User ID=BusinessPlusUser;Password=Bus!n3$$P@$$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="ConnectionString" connectionString="Integrated Security=SSPI; Pooling=false;Data Source=.\SQLEXPRESS;Initial Catalog=ConnectionString" />
  <add name="ConnectionString" connectionString="Server=tcp:takhyon.database.windows.net,1433;Initial Catalog=BusinessPlus;Persist Security Info=False;User ID=BusinessPlusUser;Password=Bus!n3$$P@$$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    <add name="ConnectionString" connectionString="Data Source=.;Encrypt=False;Integrated Security=True;User ID=DESKTOP-471QR2F\fabry;Initial Catalog=Fabricio" />
    <add name="ConnectionString" connectionString="Server=tcp:takhyon.database.windows.net,1433;Initial Catalog=BusinessPlus;Persist Security Info=False;User ID=BusinessPlusUser;Password=Bus!n3$$P@$$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
    <add name="ConnectionString" connectionString=" Integrated Security=SSPI;Pooling=false;Data Source=.;Initial Catalog=ConnectionString"/>
    <add name="ConnectionString" connectionString="Data Source=SQL5050.site4now.net,1433;Initial Catalog=DB_A546E8_BusinessPlusTest;User Id=DB_A546E8_BusinessPlusTest_admin;Password=fcamposp55;"/>
    <add name="ConnectionString" connectionString="Server=tcp:chocoenterprise.database.windows.net,1433;Initial Catalog=BPlus;Persist Security Info=False;User ID=choco;Password=enterprise2526$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />

-->
	  <add name="ConnectionString" connectionString="Server=tcp:takhyon.database.windows.net,1433;Initial Catalog=BusinessPlus;Persist Security Info=False;User ID=BusinessPlusUser;Password=Bus!n3$$P@$$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />

	  <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI; Pooling=false;Data Source=.\;Initial Catalog=BPlusJ" />-->

  </connectionStrings>
</configuration>