<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name=".Fabricio" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=Fabricio" />
        <add name="tcp:takhyon.database.windows.netBusinessPlus" connectionString="XpoProvider=MSSqlServer;data source=tcp:takhyon.database.windows.net,1433;user id=BusinessPlusUser;password=Bus!n3$$P@$$;initial catalog=BusinessPlus;Persist Security Info=true" />
        <add name="tcp:takhyon.database.windows.net" connectionString="XpoProvider=MSSqlServer;data source=tcp:takhyon.database.windows.net,1433;user id=BusinessPlusUser;password=Bus!n3$$P@$$;initial catalog=;Persist Security Info=true" />
        <add name=".Business" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=Business" />
    </connectionStrings>
</configuration>